body {
    position: relative;
    min-width: var(--app-min-width);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

.centered {
    max-width: var(--app-container-width);
    padding-left: var(--app-spacing-lg);
    padding-right: var(--app-spacing-lg);
    margin: 0 auto;
}

a:not([class]) {
    color: var(--app-color-link);
    text-decoration: none;

    &:focus-visible,
    &:active {
        color: var(--app-color-link);
    }

    &:hover {
        color: var(--app-color-link);
        text-decoration: none;
    }
}

.events-none {
    pointer-events: none;
}

.not-found-text {
    font-weight: bold;
    font-size: 24px;
}

.overflow-hidden {
    overflow: hidden;
}
